header h1{
    text-align: center;

}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;

}

.main-div button{
    margin: 10px;
    padding: 10px;
    background-color: limegreen;
    border-radius: 8px;
    border: 1px solid limegreen;
    font-weight: 400;
    font-size: 25px;
    
}

*{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    background-color: antiquewhite;

}

.container
{
    background-color: antiquewhite;
    padding: 5px;
    border: 3px solid grey;
}


@media screen and (max-width:899px) {
    .main-div{
        display: flex;
        flex-direction: column;
    }
    header h1{
        font-size: 1em;
    }
    .container{
        width: 50vw;
        height: 50vh;
        margin: 1px auto;
    }
}